 .card3 {
    background-color: #f107ca;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .container-fluid {
    background-color: rgb(214, 2, 186);
  }